:root {
  --darkColor: #0a0f14;        
  --lightColor: #e0e0c0;       
  --headingColor: #00ffe1;     
  --linkColor: #ffcc00;        
  --metaColor: #88c0d0;        
  --codeColor: #ff66a1;        
  
}

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  background-color: var(--darkColor);
  color: var(--lightColor);
  font-size: 1.055rem;
  cursor: url("/src/img/assets/cursors/ufocursor.gif"), auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-main);
  color: var(--headingColor);
  line-height: 1.5;
  font-size: 1.055rem;
  font-weight: normal;
  text-transform: uppercase;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  content: "# ";
}

a,
a:hover,
a:visited {
  color: var(--linkColor);
  text-decoration: none;
  cursor: url("https://mdohr.space/src/img/assets/cursors/pointer.gif"), auto;
}

a::before {
  content: "[";
}

a::after {
  content: "]";
}

a:has(img)::before,
a:has(img)::after {
  content: none;
}

a:hover {
  text-decoration: none;
}

a:hover::before {
  content: "/";
}

#log-container {
  width: 97%;
  white-space: pre-wrap;
}

#log-container p {
  margin-bottom: -0.55em;
}

#log-container p::before {
  content: "> ";
  color: var(--headingColor);
}

a:hover::after {
  content: "/";
}

code {
  color: var(--codeColor);
  padding: 0 5px;
  border-radius: 3px;
}

hr {
  color: var(--lightColor);
  margin: 1.5rem 0rem;
}

s {
  color: var(--darkColor);
  text-decoration-thickness: 20px;
  text-decoration-color: var(--codeColor);
}

strong,
b {
  color: var(--metaColor);
  font-weight: normal;
}

img {
  max-width: 100%;
}

button {
  background-color: var(--linkColor);
  border: none;
  padding: 0px;
}

button a,
button a:hover {
  color: var(--darkColor);
  text-decoration: none;
  cursor: url("/src/img/assets/cursors/pointer.gif"), auto;
}

#container {
  max-width: 720px;
  margin: 0 auto;
}

.hcard {
  padding: 0px;
  margin-bottom: 2rem;
}

.meta,
date {
  color: var(--metaColor);
}

#updates {
  background-color: var(--darkColor);
  height: 200px;
  overflow: scroll;
  scrollbar-color: var(--darkColor), var(--lightColor);
  padding-left: 20px;
  margin-bottom: 2rem;
}

h1.title a {
  font-size: 1.055rem;
  padding: 5px 10px;
  color: var(--lightColor);
  border: 2px solid var(--lightColor);
  display: inline-block;
  font-weight: 400;
  width: 97%;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.22);
  -moz-box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.22);
  box-shadow: 0px 0px 17px 0px rgba(255, 255, 255, 0.22);
}

header h1.title::before {
  content: "";
}

header .title a::before,
header .title a::after {
  content: "";
}

/* navigation */
#navbar {
  height: 40px;
  width: 100%;
}

#navbar a {
  color: var(--linkColor);
  margin-right: 8px;
}

#flex {
  display: flex;
}

main {
  flex: 1;
  width: 100%;
  order: 2;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

ul {
  list-style-type: square;
}

li::marker {
  content: "$ ";
  color: var(--codeColor);
}

footer {
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
}

/* MEDIA QUERY */
@media only screen and (max-width: 800px) {
  #flex {
    flex-wrap: wrap;
  }

  aside {
    width: 100%;
  }

  main {
    order: 1;
  }

  #navbar ul {
    flex-wrap: wrap;
  }
}
