* {
  box-sizing: border-box;
}

body {
  background-image: url('/src/img/assets/graphics/autumn-leaves.gif');
	background-repeat: no-repeat;
	background-position: top left;
  width: 100%;
  font-family: monospace;
  margin: 0;
  padding: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  background-color: #202730;
  color: #CCCC99;
  font-size: 1rem;
  cursor: url('/src/img/assets/cursors/ufocursor.gif'), auto;
}

a,
a:hover,
a:visited {
  color: #CCCC99;
  text-decoration: underline;
  cursor: url('/src/img/assets/cursors/pointer.gif'), auto;
}

code {
  background-color: #CCCC99;
  color: #202730;
  padding: 0 5px;
  border-radius: 3px;
}

hr {
  color: #CCCC99;
  margin: 1.5rem 0rem;
}

img {
  max-width: 100%;;
}

button {
  background-color: #ccc;
  border-top: #fff;
  border-right: #999;
  border-left: #fff;
  border-bottom: #999;
  padding: 3px 5px;
}

button a,
button a:hover {
  color: #202730;
  text-decoration: none;
  cursor: url('/src/img/assets/cursors/pointer.gif'), auto;
}

#container {
  max-width: 720px;
  margin: 0 auto;
}

.hcard {
  background-color: #333;
  padding: 20px;
  margin-bottom: 2rem;
  border-radius: 10px;
}

#updates {
  height: 200px;
  overflow: scroll;
  scrollbar-color: #202730 #CC9;
  border: 1px solid;
  padding: 20px;
  margin-bottom: 0.5rem;
}

.title {
  background-color: #CCCC99;
  color: #202730;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 400;
  display: inline-block;
}

/* navigation */
#navbar {
  height: 40px;
  width: 100%;
}

#navbar a {
  color: #CCCC99;
  margin-right: 8px;
}

#flex {
  display: flex;
}

main {
  flex: 1;
  width: 100%;
  order: 2;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#leftSidebar {
  order: 1;
}

#rightSidebar {
  order: 3;
}

footer {
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
}

/* MEDIA QUERY */
@media only screen and (max-width: 800px) {
  #flex {
    flex-wrap: wrap;
  }

  aside {
    width: 100%;
  }

  main {
    order: 1;
  }

  #navbar ul {
    flex-wrap: wrap;
  }
}
